# Git
.git/
.github/

# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Tests and coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Linters
.ruff_cache/

# Environment variables
.env
.env.*

# Databases
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/

# Operating systems
.DS_Store
Thumbs.db